/* header{ */
/*     
    min-height: 200px;

}



body{



}

#p{

    white-space: pre-wrap;

} */

.presentation {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

#typed-text {
    white-space: pre-wrap; /* Pour gérer les retours à la ligne */
}