
.ligne1, .ligne10{
    height: 75vh;
    width: 0.3vw;
    background-color: whitesmoke;
    gap: 12%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 0%;
}
.CV{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  
.biggie, .tupac{
    display: flex;
    justify-content: center;

    align-items: center;
    margin-bottom: 10vh;
    
}
.MF h1{
  
    font-family: 'MaPolice1', sans-serif;
    font-size: clamp(5px, 3vw, 100px);
}


.bulle, .bulle-bis{

    width: 1vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: whitesmoke;
    margin: 0%;
}
.pentagone-droit, .pentagone-gauche, .pentagone-gauche-bis, .pentagone-droit-bis
{
    width: 15vw; 
    height: 75px;
    background-color: #3498db;
    position: absolute;
    min-width: 150px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 25px;
    padding-left: 25px;
    top: calc(anchor(top) - 30px);
}
.pentagone-gauche, .pentagone-gauche-bis {
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); /* Forme du pentagone */
      right: calc(anchor(left) - -20px);
      view-timeline: --pg1 block;
      animation-timeline: --pg1;
    }
    
.pentagone-droit, .pentagone-droit-bis{
    clip-path: polygon(100% 0%, 25% 0%, 0% 50%, 25% 100%, 100% 100%);
    left: calc(anchor(right) - -20px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    view-timeline: --pd1 block;
    animation-timeline: --pd1;
}



  @font-face{
      
    font-family: 'MaPolice4';
    src: url('./font/BebasKai.ttf') format('truetype');
  
  }
  :where(.pentagone-droit, .pentagone-gauche, .pentagone-droit-bis, .pentagone-gauche-bis) > *
  {
    color: antiquewhite;
    font-family: 'MaPolice4', sans-serif;
    font-weight: normal;

  }
  :where(.pentagone-droit, .pentagone-gauche, .pentagone-droit-bis, .pentagone-gauche-bis) h5{
  font-size: clamp(15px, 1vh, 50px);
  
  }
  :where(.pentagone-droit, .pentagone-gauche, .pentagone-droit-bis, .pentagone-gauche-bis) p{
    font-size: clamp(15px, 1.5vh, 50px);
  }
  :where(.pentagone-droit, .pentagone-gauche, .pentagone-droit-bis, .pentagone-gauche-bis) h6{
    font-size: clamp(15px, 0.5vh, 50px);
  }
  .cb1{
      anchor-name: --infobox1;
  }
  
  .cb2{
      anchor-name: --infobox2;
  }
  .cb3{
      anchor-name: --infobox3;
  }
  .cb4{
      anchor-name: --infobox4;
  }
  .cb5{
      anchor-name: --infobox5;
  }
  .cb6{
      anchor-name: --infobox6;
  }
  .cb7{
      anchor-name: --infobox7;
  }
  .pd1{
    position-anchor: --infobox2;
  }
  .pd2{
    position-anchor: --infobox4;
  }
  .pd3{
    position-anchor: --infobox6;
  }
  .pg1{
    position-anchor: --infobox1;
  }
  .pg2{
    position-anchor: --infobox3;
  }
  .pg3{
    position-anchor: --infobox5;
  }
  .pg4{
    position-anchor: --infobox7;
  }
  @keyframes pg1 {
    0%{translate: -100vw;}
    20%{translate: 0; }
  }
  @keyframes pd1 {
    0%{translate: 100vw;}
    20%{translate: 0; }
  }
  .EP{
    font-family: 'MaPolice1', sans-serif;
    font-size: clamp(5px, 1.5vw, 100px);
    margin-top: 10vh;
    margin-top: 3vh;
  }

  
.cb10{
    anchor-name: --infobox10;
}

.cb20{
    anchor-name: --infobox20;
}
.cb30{
    anchor-name: --infobox30;
}
.cb40{
    anchor-name: --infobox40;
}
.cb50{
    anchor-name: --infobox50;
}
.cb60{
    anchor-name: --infobox60;
}
.cb70{
    anchor-name: --infobox70;
}

.pd10{
    position-anchor: --infobox20;
  }
  .pd20{
    position-anchor: --infobox40;
  }
  .pd30{
    position-anchor: --infobox60;
  }
  .pg10{
    position-anchor: --infobox10;
  }
  .pg20{
    position-anchor: --infobox30;
  }
  .pg30{
    position-anchor: --infobox50;
  }
  .pg40{
    position-anchor: --infobox70;
  }
  @media screen and (width > 600px) 
  {
      .pentagone-droit, .pentagone-droit-bis
      {
        animation-name: pd1;
        animation-duration: 1500ms;
      }
      .pentagone-gauche, .pentagone-gauche-bis
      {
        animation-name: pg1;
        animation-duration: 1500ms;
      }
  }

  #langue{
    font-family: 'MaPolice1', sans-serif;
    font-size: clamp(5px, 3vw, 100px);
    padding: 0%;
    margin: 0%;
  }

  .cl{
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    padding: 20px; 
    gap: 100px;
    width: 80vw;
  }

  .point{
    height: 5px;
    width: 5px;
    background-color: #3498db;
    position: relative;
  }

  .francais, .anglais, .arabe, .espagnol{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    /* align-content: center; */
    gap: 10px;
  }

  .langues2{

  }

.t{
  font-size: clamp(5px, 2vw, 100px);
}

.t p{
  font-family: 'MaPolice4', sans-serif;
  color: #b5b2df;
}
.pnj
{
  width: 100%;
  padding-left: 31.5%;
  font-family: 'MaPolice4', sans-serif;
  color: #b5b2df;
}

.pnj2{
  width: 100%;
  padding-left: 40%;
  font-family: 'MaPolice4', sans-serif;
  color: #b5b2df;
}

.pnj3{
  width: 100%;
  padding-left: 34.5%;
  font-family: 'MaPolice4', sans-serif;
  color: #b5b2df;
}

.pnj4{
  width: 100%;
  padding-left: 40%;
  font-family: 'MaPolice4', sans-serif;
  color: #b5b2df;
}