* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    min-height: 100vh;
    flex-direction: column;
    padding-top: 175px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
}

.video1{
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100vh;
}
header, footer
{
    opacity: 0.7;
    --background-color: rgba(19, 161, 219, 0.9), rgba(19, 161, 219, 0.5), rgba(19, 161, 219, 0);
}
header{
    background: linear-gradient(to bottom, var(--background-color));
    color: white; 
    padding-bottom: 20px;
    min-height: 20vh;
    padding-top: 50px;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: transform 0.5s;
    transform: translateY(-100%);
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    width: 100vw;  
    text-align: center;
}


header.show {
    transform: translateY(0);
}


.nf{
    font-size: clamp(20px, 13vw, 130px);
    text-align: center;
    color: #182DDB;
    margin: 0;
    transform: translate(0, 20%);
    margin-top: 0px;
}


.work-sans-nf
{
    font-family: 'Work Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}


.p{
    text-align: center;
    color: #182DDB;
    margin: 0;
    transform: translate(0, -5%);
    margin-bottom: 50px;
    font-size: clamp(20px, 13vw, 130px);

}


ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-items: center; 
    transform: translate(0, -15px);
}


li {
    padding: 8px; 
    border-radius: 4px; 
    margin-bottom: 5px; 
    font-size: clamp(20px, 3vh, 100px);
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Changed from font-weight: weight; to font-weight: 400; */
    font-style: normal;
}

.d50{

    width: 50vw;

}

.diamond {
    width: 8vw;
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    transition: transform 0.3s ease; 
    padding: 0%;
}


.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 8%;
    width: 90%;
    justify-items: center;
    padding-bottom: 0%;
}
.container1{
    margin-bottom: 15%;
    margin-left: 0%;
}
.container2{
    margin-bottom: 10vh;
    translate: 0 -15vh;
}


.d5{
    height: 18vh;
    

}

.diamond:hover{
    transform: scale(1.1);
}


footer{
    position: relative;
    min-height: 200px;
    background: linear-gradient(to top, var(--background-color));
    gap: 15%;  
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    margin-top: 150px;
    width: 100vw;
    bottom: 0;
}


.diamond1 {
    width: 65px;
    height: 65px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: transform 0.3s ease; 
    margin-top: 40px;
}


.diamond1:hover{
    transform: scale(1.1);
}


.diamond2 {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: transform 0.3s ease; 
    margin-top: 40px;
}


.diamond2:hover{
    transform: scale(1.1);
}


.presentation {
    font-style: bold;
    font-family: "Bree Serif", serif;
    font-style: normal;
    line-height: 1.3;
    color: #b5b2df;
    text-align: center;
    padding: 0 17vw;
    transform: translate(0, 35%);
    margin-top: 20vh;
    justify-content: center;
    font-size: clamp(20px, 2vw, 100px);
    transform: translate(0, -120%);
    
   
    
}


#typed-text {

    white-space: pre-wrap;
    text-align: center;
    margin: 0%;
}


main{
    transform: translate(0, -30px);
    overflow-x: hidden;
}


.item a
{
    text-decoration: none;
    color: inherit;
}


.item a:visited{
color: inherit;
}


.change{
    border-radius: 1.5%;
    width: 3vw;
    background-color: #0B9999;
    opacity: 0.7;
    z-index: 1;
    position: fixed;
    top: 300px;
    left: 10px;
    display: flex;
    flex-direction: column;
}



.change {
display: flex;
flex-direction: column; 
gap: 2.5vh; 
align-items: center; 
 
}



.change img {
width: 100%; 
height: auto; 
object-fit: cover; 
padding: 0%;
margin: 0%;
}

.night img{
width: 2vw;
padding: 0%;
margin: 0%;
}

.sunset img {
width: 3vw;
padding: 0%;
margin: 0%;
}

.sunset, .night, .star{
margin: 0%;
transition: transform 0.3s ease;
}

:where(.sunset, .night, .star):hover{
transform: scale(1.2);
}


.b100, .b200, .b300
{
top: -48%; 
left: 50%;
position: absolute;
background-color: rgba(0, 0, 0, 0.7); 
color: #fff; 
visibility: hidden; 
opacity: 0; 
border-radius: 5px;

font-size: 14px;
transition: opacity 0.3s ease;

}

.b100 {
transform: translateX(-50%);
padding: 5px 10px;
}

.b200 {
top: -40px; 
transform: translateX(-50%);
height: 25px;
width: 90px;
text-align: center;
}

.b300 {
top: -60%; 
left: 40%;
transform: translateX(-50%);
 padding-left: 10%;
 padding-top: 14%;
height: 25px;
}

@font-face {
font-family: 'MaPolice1';
src: url('./font/Super\ Cartoon.ttf') format('truetype');
}

#skills1{
 padding-top: 7vh;
 display: flex;
 flex-direction: column;   
 align-items: center; 
 gap: 20px; 
}

.title1 {
font-family: 'MaPolice1', sans-serif;
font-size: clamp(5px, 3vw, 100px);
margin: 0%;
padding: 0%;
}

.title2{
font-family: 'MaPolice1', sans-serif;
font-size: clamp(5px, 3vw, 100px);
margin: 0%;
padding: 0%;
translate: 0 -200%;
} 

.p{
animation: prenom 1500ms, prenom2 1500ms 2500ms infinite alternate;
}

@keyframes prenom {
0%{translate: -100vw;}
100%{translate: 0; }    
}

@keyframes prenom2 {
0%{translate: 0;}
100%{translate: 0 -8vh; }    
}

.nf{
 animation: nom 1500ms, nom2 1500ms 2500ms infinite alternate;
 padding-top: 0.5%;

}

@keyframes nom{
0%{translate: 200vw;}
100%{translate: 0;}
}

@keyframes nom2 {
0%{translate: 0;}
100%{translate: 0 -4vh;}
}


.ligne1, .ligne10{
    height: 75vh;
    width: 0.3vw;
    background-color: whitesmoke;
    gap: 12%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 0%;
}
.CV{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  
.biggie, .tupac{
    display: flex;
    justify-content: center;

    align-items: center;
    margin-bottom: 10vh;
    
}
.MF h1{
  
    font-family: 'MaPolice1', sans-serif;
    font-size: clamp(5px, 3vw, 100px);
}


.bulle, .bulle-bis{

    width: 1vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: whitesmoke;
    margin: 0%;
}
.pentagone-droit, .pentagone-gauche, .pentagone-gauche-bis, .pentagone-droit-bis
{
    width: 15vw; 
    height: 75px;
    background-color: #3498db;
    position: absolute;
    min-width: 150px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 25px;
    padding-left: 25px;
    top: calc(anchor(top) - 30px);
}
.pentagone-gauche, .pentagone-gauche-bis {
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); /* Forme du pentagone */
      right: calc(anchor(left) - -20px);
      view-timeline: --pg1 block;
      animation-timeline: --pg1;
    }
    
.pentagone-droit, .pentagone-droit-bis{
    clip-path: polygon(100% 0%, 25% 0%, 0% 50%, 25% 100%, 100% 100%);
    left: calc(anchor(right) - -20px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    view-timeline: --pd1 block;
    animation-timeline: --pd1;
}



  @font-face{
      
    font-family: 'MaPolice4';
    src: url('./font/BebasKai.ttf') format('truetype');
  
  }
  :where(.pentagone-droit, .pentagone-gauche, .pentagone-droit-bis, .pentagone-gauche-bis) > *
  {
    color: antiquewhite;
    font-family: 'MaPolice4', sans-serif;
    font-weight: normal;

  }
  :where(.pentagone-droit, .pentagone-gauche, .pentagone-droit-bis, .pentagone-gauche-bis) h5{
  font-size: clamp(15px, 1vh, 50px);
  
  }
  :where(.pentagone-droit, .pentagone-gauche, .pentagone-droit-bis, .pentagone-gauche-bis) p{
    font-size: clamp(15px, 1.5vh, 50px);
  }
  :where(.pentagone-droit, .pentagone-gauche, .pentagone-droit-bis, .pentagone-gauche-bis) h6{
    font-size: clamp(15px, 0.5vh, 50px);
  }
  .cb1{
      anchor-name: --infobox1;
  }
  
  .cb2{
      anchor-name: --infobox2;
  }
  .cb3{
      anchor-name: --infobox3;
  }
  .cb4{
      anchor-name: --infobox4;
  }
  .cb5{
      anchor-name: --infobox5;
  }
  .cb6{
      anchor-name: --infobox6;
  }
  .cb7{
      anchor-name: --infobox7;
  }
  .pd1{
    position-anchor: --infobox2;
  }
  .pd2{
    position-anchor: --infobox4;
  }
  .pd3{
    position-anchor: --infobox6;
  }
  .pg1{
    position-anchor: --infobox1;
  }
  .pg2{
    position-anchor: --infobox3;
  }
  .pg3{
    position-anchor: --infobox5;
  }
  .pg4{
    position-anchor: --infobox7;
  }
  @keyframes pg1 {
    0%{translate: -100vw;}
    20%{translate: 0; }
  }
  @keyframes pd1 {
    0%{translate: 100vw;}
    20%{translate: 0; }
  }
  .EP{
    font-family: 'MaPolice1', sans-serif;
    font-size: clamp(5px, 1.5vw, 100px);
    margin-top: 10vh;
    margin-top: 3vh;
  }

  
.cb10{
    anchor-name: --infobox10;
}

.cb20{
    anchor-name: --infobox20;
}
.cb30{
    anchor-name: --infobox30;
}
.cb40{
    anchor-name: --infobox40;
}
.cb50{
    anchor-name: --infobox50;
}
.cb60{
    anchor-name: --infobox60;
}
.cb70{
    anchor-name: --infobox70;
}

.pd10{
    position-anchor: --infobox20;
  }
  .pd20{
    position-anchor: --infobox40;
  }
  .pd30{
    position-anchor: --infobox60;
  }
  .pg10{
    position-anchor: --infobox10;
  }
  .pg20{
    position-anchor: --infobox30;
  }
  .pg30{
    position-anchor: --infobox50;
  }
  .pg40{
    position-anchor: --infobox70;
  }
  @media screen and (width > 600px) 
  {
      .pentagone-droit, .pentagone-droit-bis
      {
        animation-name: pd1;
        animation-duration: 1500ms;
      }
      .pentagone-gauche, .pentagone-gauche-bis
      {
        animation-name: pg1;
        animation-duration: 1500ms;
      }
  }

  #langue{
    font-family: 'MaPolice1', sans-serif;
    font-size: clamp(5px, 3vw, 100px);
    padding: 0%;
    margin: 0%;
  }

  .cl{
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    padding: 20px; 
    gap: 5%;
    width: 100%;
  }

  .point{
    height: 5px;
    width: 5px;
    background-color: #3498db;
    position: relative;
  }

  .francais, .anglais, .arabe, .espagnol{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    /* align-content: center; */
    gap: 10px;
  }

  .langue{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
  }


.t{
  font-size: clamp(5px, 2vw, 100px);
}

.t p{
  font-family: 'MaPolice4', sans-serif;
  color: #b5b2df;
}
.pnj
{
  width: 100%;
  padding-left: 31.5%;
  font-family: 'MaPolice4', sans-serif;
  color: #b5b2df;
  font-size: clamp(5px, 0.75vw, 100px);
}

.pnj2{
  width: 100%;
  padding-left: 40%;
  font-family: 'MaPolice4', sans-serif;
  color: #b5b2df;
  font-size: clamp(3px, 0.75vw, 100px);
}

.pnj3{
  width: 100%;
  padding-left: 33.5%;
  font-family: 'MaPolice4', sans-serif;
  color: #b5b2df;
  font-size: clamp(5px, 0.75vw, 100px);
}

.pnj4{
  width: 100%;
  padding-left: 40%;
  font-family: 'MaPolice4', sans-serif;
  color: #b5b2df;
  font-size: clamp(5px, 0.75vw, 100px);
}


/* 
.photo{
    height: 14vh;
    width: 7vw;
    border-radius: 50%;
    background-image: url('./imgbg/IMG_0926.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    translate: 40vw;
    position: absolute;
    cursor: grab;
} */

.btncvi{
  display: flex;
   gap: 50px; 
}

.tb10{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 1); 
  transition: transform 0.2s ease;

}

.tb20{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 3);
  transition: transform 0.2s ease;

}

.tb20:hover {
  transform: scale(1.05);
}

.tb10:hover {
  transform: scale(1.05);
}
 
.tb10 p{
  font-size: clamp(5px, 1.5vw, 100px);
  font-family: 'MaPolice5', sans-serif;
}

.tb20 p{
  font-size: clamp(5px, 1.5vw, 100px);
  font-family: 'MaPolice5', sans-serif;
}

.btncv{
    margin-top: 7%;
    height: 7.5vh;
    width: 12vw;
    border-radius: 3%;
    
} 

@font-face {
  font-family: 'MaPolice5';
  src: url('./font/Official.otf') format('truetype');
  }


.pjt{
  font-family: 'MaPolice1', sans-serif;
  font-size: clamp(5px, 3vw, 100px);
  margin-top: 7%;
}