body{
    background-image: url(./img/mylivewallpapers-com-Space-3440x1440.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* width: 100vw; */
}

    header{

        
            /* background-color: #182DDB;  */
            background: linear-gradient(to bottom, rgba(19, 161, 219, 0.9), rgba(19, 161, 219, 0.5), rgba(19, 161, 219, 0));
            opacity: 0.7;
            color: white; 
            padding: 20px;
            text-align: center;
            height: 175px;
            /* padding: 0%;
            margin: 0%; */
            /* display: flex; 
            justify-content: space-around; 
             align-items: center;   */
             padding-top: 50px;
            

    }

    .nf{
        font-size: 100px;
        color: white;
        /* transform: translate(50px, 100px); */
        padding-left: 50px;
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        color: #182DDB;
        margin: 0;
    }

    .p{
        font-size: 100px;
        color: white;
        /* transform: translate(50px, -140px); */
        padding-left: 50px;
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        color: #182DDB;
        margin: 0;
        
    }

    ul {
        list-style-type: none; 
        padding: 0; 
        margin: 0; 
        display: flex; 
        justify-content: space-evenly; 
        align-items: center; 
        /* gap: 500px; */
        transform: translate(0, -15px);
    }

    li {
        padding: 8px; 
        /* background-color: rgba(19, 161, 219, 0.1);  */
        /* border: 1px solid #13A1DB;  */
        border-radius: 4px; 
        margin-bottom: 5px; 
        font-size: 20px;
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;

    }